body {
	background-color: #000;
	padding: 20px;
}

.clear_both {
	clear: both;
	line-height: 1px;
}

.video_gallery_container {
	padding: 25px 0 25px 115px;
	border: 2px solid #444;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* css3 */
	background: #000 url(../images/filmstrip_tile.png) repeat-y 0px 0px;
}

a.videoLink {
	display: block;
	margin: 0px 15px 15px 0px;
	padding: 0px;
	width: 200px;
	height: 115px;
	float: left;
	position: relative;
	cursor: pointer;
	background: #555 no-repeat 0px 0px;
	border: 1px solid #000;
}

a.videoLink:hover {
	border-color: #fff;
}